webContent/wsdl/HisInfoService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="HisInfoServiceService" targetNamespace="http://his.ws.scm.dhcc.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://his.ws.scm.dhcc.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://his.ws.scm.dhcc.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://his.ws.scm.dhcc.com/" version="1.0">

  <xs:complexType name="hisInvInfoWeb">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="hisInvInfoItmWebs" nillable="true" type="tns:hisInvInfoItmWeb"/>
      <xs:element minOccurs="0" name="resultCode" type="xs:string"/>
      <xs:element minOccurs="0" name="resultContent" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="hisInvInfoItmWeb">
    <xs:sequence>
      <xs:element minOccurs="0" name="batno" type="xs:string"/>
      <xs:element minOccurs="0" name="deliveritmid" type="xs:long"/>
      <xs:element minOccurs="0" name="expdate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="hopinccode" type="xs:string"/>
      <xs:element minOccurs="0" name="orderno" type="xs:string"/>
      <xs:element name="qty" type="xs:float"/>
      <xs:element name="rp" type="xs:float"/>
      <xs:element name="rpamt" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="hisIncLocQtyWeb">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="hisIncLocQtyItmWebs" nillable="true" type="tns:hisIncLocQtyItmWeb"/>
      <xs:element minOccurs="0" name="passWord" type="xs:string"/>
      <xs:element minOccurs="0" name="userName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="hisIncLocQtyItmWeb">
    <xs:sequence>
      <xs:element minOccurs="0" name="locCode" type="xs:string"/>
      <xs:element minOccurs="0" name="locIncCode" type="xs:string"/>
      <xs:element minOccurs="0" name="locIncMaxQty" type="xs:float"/>
      <xs:element minOccurs="0" name="locIncMinQty" type="xs:float"/>
      <xs:element minOccurs="0" name="locIncQty" type="xs:float"/>
      <xs:element minOccurs="0" name="locIncStandQty" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="operateResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="resultCode" type="xs:string"/>
      <xs:element minOccurs="0" name="resultContent" type="xs:string"/>
      <xs:element minOccurs="0" name="resultValue" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="hisOrderWeb">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="hisOrderWebItms" nillable="true" type="tns:hisOrderWebItm"/>
      <xs:element minOccurs="0" name="passWord" type="xs:string"/>
      <xs:element minOccurs="0" name="userName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="hisOrderWebItm">
    <xs:sequence>
      <xs:element minOccurs="0" name="desction" type="xs:string"/>
      <xs:element minOccurs="0" name="emflag" type="xs:string"/>
      <xs:element minOccurs="0" name="hisId" type="xs:string"/>
      <xs:element minOccurs="0" name="hisno" type="xs:string"/>
      <xs:element minOccurs="0" name="hopBarCode" type="xs:string"/>
      <xs:element minOccurs="0" name="planDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="purloc" type="xs:string"/>
      <xs:element minOccurs="0" name="qty" type="xs:float"/>
      <xs:element minOccurs="0" name="recloc" type="xs:string"/>
      <xs:element minOccurs="0" name="remark" type="xs:string"/>
      <xs:element minOccurs="0" name="rp" type="xs:float"/>
      <xs:element minOccurs="0" name="vendorBarCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="hisLocWeb">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="hisLocItmWebs" nillable="true" type="tns:hisLocItmWeb"/>
      <xs:element minOccurs="0" name="passWord" type="xs:string"/>
      <xs:element minOccurs="0" name="userName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="hisLocItmWeb">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="hisOrderWebVo">
    <xs:sequence>
      <xs:element minOccurs="0" name="deliverdate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="desction" type="xs:string"/>
      <xs:element minOccurs="0" name="emflag" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="hisOrderItmWebVos" nillable="true" type="tns:hisOrderItmWebVo"/>
      <xs:element minOccurs="0" name="hopname" type="xs:string"/>
      <xs:element minOccurs="0" name="orderno" type="xs:string"/>
      <xs:element minOccurs="0" name="planDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="purloc" type="xs:string"/>
      <xs:element minOccurs="0" name="recloc" type="xs:string"/>
      <xs:element minOccurs="0" name="remark" type="xs:string"/>
      <xs:element minOccurs="0" name="vendorname" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="hisOrderItmWebVo">
    <xs:sequence>
      <xs:element minOccurs="0" name="hopIncCode" type="xs:string"/>
      <xs:element minOccurs="0" name="qty" type="xs:float"/>
      <xs:element minOccurs="0" name="rp" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="hisCmpRecWeb">
    <xs:sequence>
      <xs:element minOccurs="0" name="hopname" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="invs" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="venname" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="hisVendorWeb">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="hisVendorItmWebs" nillable="true" type="tns:hisVendorItmWeb"/>
      <xs:element minOccurs="0" name="passWord" type="xs:string"/>
      <xs:element minOccurs="0" name="userName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="hisVendorItmWeb">
    <xs:sequence>
      <xs:element minOccurs="0" name="businessRegNo" type="xs:string"/>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="hisIncWeb">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="incItmWebs" nillable="true" type="tns:hisIncItmWeb"/>
      <xs:element minOccurs="0" name="passWord" type="xs:string"/>
      <xs:element minOccurs="0" name="userName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="hisIncItmWeb">
    <xs:sequence>
      <xs:element minOccurs="0" name="barCode" type="xs:string"/>
      <xs:element minOccurs="0" name="venIncCat" type="xs:string"/>
      <xs:element minOccurs="0" name="venIncCode" type="xs:string"/>
      <xs:element minOccurs="0" name="venIncManf" type="xs:string"/>
      <xs:element minOccurs="0" name="venIncName" type="xs:string"/>
      <xs:element minOccurs="0" name="venIncPrice" type="xs:float"/>
      <xs:element minOccurs="0" name="venIncSp" type="xs:float"/>
      <xs:element minOccurs="0" name="venIncSpec" type="xs:string"/>
      <xs:element minOccurs="0" name="venIncUom" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getHopIncResponse">
    <wsdl:part name="operateResult" type="tns:operateResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHopOrder">
    <wsdl:part name="hisOrderWeb" type="tns:hisOrderWeb">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHisOrder">
    <wsdl:part name="hisOrderWebVo" type="tns:hisOrderWebVo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHopLocIncQtyResponse">
    <wsdl:part name="operateResult" type="tns:operateResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cmpRecResponse">
    <wsdl:part name="operateResult" type="tns:operateResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHopLocResponse">
    <wsdl:part name="operateResult" type="tns:operateResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRecItmByInvResponse">
    <wsdl:part name="hisInvInfoWeb" type="tns:hisInvInfoWeb">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHopLoc">
    <wsdl:part name="hisLocWeb" type="tns:hisLocWeb">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHopVendor">
    <wsdl:part name="hisVendorWeb" type="tns:hisVendorWeb">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHopInc">
    <wsdl:part name="hisIncWeb" type="tns:hisIncWeb">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cmpRec">
    <wsdl:part name="hisCmpRecWeb" type="tns:hisCmpRecWeb">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRecItmByInv">
    <wsdl:part name="invNo" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="hopName" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="venName" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHisOrderResponse">
    <wsdl:part name="operateResult" type="tns:operateResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHopLocIncQty">
    <wsdl:part name="hisIncLocQtyWeb" type="tns:hisIncLocQtyWeb">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHopVendorResponse">
    <wsdl:part name="operateResult" type="tns:operateResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHopOrderResponse">
    <wsdl:part name="operateResult" type="tns:operateResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="HisInfoServiceInterface">
    <wsdl:operation name="getRecItmByInv">
      <wsdl:input name="getRecItmByInv" message="tns:getRecItmByInv">
    </wsdl:input>
      <wsdl:output name="getRecItmByInvResponse" message="tns:getRecItmByInvResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHopLocIncQty">
      <wsdl:input name="getHopLocIncQty" message="tns:getHopLocIncQty">
    </wsdl:input>
      <wsdl:output name="getHopLocIncQtyResponse" message="tns:getHopLocIncQtyResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHopOrder">
<wsdl:documentation>同步医院订单</wsdl:documentation>
      <wsdl:input name="getHopOrder" message="tns:getHopOrder">
    </wsdl:input>
      <wsdl:output name="getHopOrderResponse" message="tns:getHopOrderResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHopLoc">
      <wsdl:input name="getHopLoc" message="tns:getHopLoc">
    </wsdl:input>
      <wsdl:output name="getHopLocResponse" message="tns:getHopLocResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHisOrder">
      <wsdl:input name="getHisOrder" message="tns:getHisOrder">
    </wsdl:input>
      <wsdl:output name="getHisOrderResponse" message="tns:getHisOrderResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cmpRec">
      <wsdl:input name="cmpRec" message="tns:cmpRec">
    </wsdl:input>
      <wsdl:output name="cmpRecResponse" message="tns:cmpRecResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHopVendor">
<wsdl:documentation>同步医院供应商</wsdl:documentation>
      <wsdl:input name="getHopVendor" message="tns:getHopVendor">
    </wsdl:input>
      <wsdl:output name="getHopVendorResponse" message="tns:getHopVendorResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHopInc">
      <wsdl:input name="getHopInc" message="tns:getHopInc">
    </wsdl:input>
      <wsdl:output name="getHopIncResponse" message="tns:getHopIncResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HisInfoServiceServiceSoapBinding" type="tns:HisInfoServiceInterface">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getRecItmByInv">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="getRecItmByInv">
        <soap:body use="literal" namespace="http://his.ws.scm.dhcc.com/"/>
      </wsdl:input>
      <wsdl:output name="getRecItmByInvResponse">
        <soap:body use="literal" namespace="http://his.ws.scm.dhcc.com/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHopLocIncQty">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="getHopLocIncQty">
        <soap:body use="literal" namespace="http://his.ws.scm.dhcc.com/"/>
      </wsdl:input>
      <wsdl:output name="getHopLocIncQtyResponse">
        <soap:body use="literal" namespace="http://his.ws.scm.dhcc.com/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHisOrder">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="getHisOrder">
        <soap:body use="literal" namespace="http://his.ws.scm.dhcc.com/"/>
      </wsdl:input>
      <wsdl:output name="getHisOrderResponse">
        <soap:body use="literal" namespace="http://his.ws.scm.dhcc.com/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHopLoc">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="getHopLoc">
        <soap:body use="literal" namespace="http://his.ws.scm.dhcc.com/"/>
      </wsdl:input>
      <wsdl:output name="getHopLocResponse">
        <soap:body use="literal" namespace="http://his.ws.scm.dhcc.com/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHopOrder">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="getHopOrder">
        <soap:body use="literal" namespace="http://his.ws.scm.dhcc.com/"/>
      </wsdl:input>
      <wsdl:output name="getHopOrderResponse">
        <soap:body use="literal" namespace="http://his.ws.scm.dhcc.com/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cmpRec">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="cmpRec">
        <soap:body use="literal" namespace="http://his.ws.scm.dhcc.com/"/>
      </wsdl:input>
      <wsdl:output name="cmpRecResponse">
        <soap:body use="literal" namespace="http://his.ws.scm.dhcc.com/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHopVendor">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="getHopVendor">
        <soap:body use="literal" namespace="http://his.ws.scm.dhcc.com/"/>
      </wsdl:input>
      <wsdl:output name="getHopVendorResponse">
        <soap:body use="literal" namespace="http://his.ws.scm.dhcc.com/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHopInc">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="getHopInc">
        <soap:body use="literal" namespace="http://his.ws.scm.dhcc.com/"/>
      </wsdl:input>
      <wsdl:output name="getHopIncResponse">
        <soap:body use="literal" namespace="http://his.ws.scm.dhcc.com/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HisInfoServiceService">
    <wsdl:port name="HisInfoServiceServiceHttpSoap12Endpoint" binding="tns:HisInfoServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/HisInfoServiceServiceHttpSoap12Endpoint"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
